.content {
    height: 100%;
    text-align: center;
}

.text-center, .form-container {
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container .card label {
    float: left;
    margin-left: 2%;
}

#submit-button {
    width: 13%;
    float: right;
}