body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

}

header {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
}

.main-link {
  height: 100%;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 2vw;
}

.main-link a {
  color: white;
  text-decoration: none;
  font-size: 2.5vh;
}

#show-main-page {
  font-size: 4.5vh;
  margin-right: 11%;
}

#show-recipes {
  margin-top: 0;
  margin-bottom: 0;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user a {
  font-size: 2.5vh;
  text-decoration: none;
}

#user-menu {
  height: 80%;
  margin-left: 10%;
}

.user-picture {
  border: 1px solid gray;
  height: 4vh;
  width: 4vh;
  object-fit: cover;

  border-radius: 50%;
}

.user-menu-block {
  list-style-type: none;
}

.body-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.search-container {
  text-align: center;
}

.search-form {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form input {
  width: 65%;
}

.search-form input, .search-form button {
  height: 5vh;
  margin-top: auto;
  margin-bottom: auto;

  border-radius: 0;
}

.content {
  padding-top: 10vh;
  background-color: rgb(249, 245, 245);
}