.content {
    display: flex;
    flex-direction: row;
}

.main-content {
    width: 50%;
    text-align: center;
}

.recent_recipes_container {
    flex-direction: row;
    flex-flow: wrap;
}

.recent_recipe, .best_recipe {
    background-color: white;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 3%;

    width: 40%;

    text-align: left;

    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;

    border: 0.3vh groove lightgray;
}

.recent_recipe img, .best_recipe img {
    border-top-left-radius: 1vh;
    height: 15vh;
}

.recipe-view {
    
    margin-bottom: 2%;
}

.popular-recipes-panel {
    margin: 0;
    padding: 0;
    background-color: white;

    width: 50%;
    text-align: center;
}

#show-recipes {
    margin-top: 3%;
    margin-bottom: 3%;
}

.link-container {
    text-align: center;
    background-color: rgb(27, 117, 70);
    
    height: 15vh;
}

footer {
    height: 15vh;
  }