.content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.user-block {
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-info-container {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    height: 96%;
    width: 90%;
}

.user-block img {
    border: 1px solid gray;
    height: 40vh;
    width: 40vh;
    
    margin-top: 8vh;
    margin-bottom: 3vh;

    border-radius: 50%;
}

.user-block h2 {
    padding-bottom: 1vh;
}

.user-content-block {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.recipe-block, .recipe-collection-block {
    height: 47%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    background-color: white;
    border-radius: 10px;
}

.recipe-list, .recipe-collection-list {
    height: 87%;
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;
}

.card {
    margin: 1vw;
    font-size: 16px;
}

/* .card-img {
    height: 100%;
} */

.card-body {
    height: 100%; /* Ensure the card body fills the height of its parent .col-6 */
    width: 100%;
    overflow: hidden; /* Prevent content overflow */
}

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensure the image fills its parent container */
}